:root {
    font-family: Hack, monospace;
}
* {
    box-sizing: border-box;
}
html, body, .root {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.root {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 500px 1fr;
}

.address-bar {
    grid-column: span 2;
}

.address-bar input {
    width: 100%;
}

.input-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: pre;
}


.canvas-container {
    overflow: hidden;
}
